# System files
.idea
.DS_Store
Thumbs.db

# compiled / dependencies
dist
node_modules
terraform/.terraform
terraform/shared/.terraform
*.zip
.env

#logging file
log-debug

# System Files
.DS_Store
Thumbs.db
.env
*.db
tsconfig.tsbuildinfo
.eslintcache

#src/graphql/types.d.ts
src/defs/gql-types.ts

#keys
bin/jwt*